# Data Science Tools and Ecosystem

Some of the popular languages that Data Scientists use are:

- phyton
- R
- SQL
- Java
- Julia
- Scala
- C/C++
- JavaScript
- Swift
- Go
- MATLAB
- SAS

Some of the commonly used libraries used by Data Scientists include:

- NumPy.
- Pandas.
- Scipy.
- Scikit-learn.
- Matplotlib
- Seaborn.
- TensorFlow
- PyTorch
- Keras
- NLTK

**Objectives:**
1. Create a Jupyter Notebook.
2. Insert code and markdown cells.
3. Share your notebook through GitHub

Data Science Tools

|Type of Data Science tool| Data Science Tools |
|-------------------------| --------------------|
|General-purpose Tools| MS Excel |
|Cloud-based Tools|  BigML, Google Analytics |
|Multipurpose Tools| Apache, Spark, Matlab, SAS, KNIME, Apache, Flink |
|Programming Language-driven Tools| Python,R Programming, Jupyter, Notebook, MongoDB, D3.js, Julia |
|Visualization Tools| Tableau, Matplotlib, Minitab |
|Machine Learning and NLP Tools | Scikit Learn, TensorFlow, RapidMiner, DataRobot, NLTK |
|Visualization Tools | Tableau, Matplotlib, Minitab |
|Machine Learning and NLP Tools| Scikit Learn, TensorFlow, RapidMiner, DataRobot, NLTK |
|Big Data Tools| Apache Hadoop |
|Business Intelligence Tool| Microsoft Power BI, QlikView|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# Addition
result_add = 5 + 3
print("5 + 3 =", result_add)

# Subtraction
result_sub = 10 - 4
print("10 - 4 =", result_sub)

# Multiplication
result_mul = 7 * 6
print("7 * 6 =", result_mul)

# Division
result_div = 8 / 2
print("8 / 2 =", result_div)

import math

# Exponentiation
result_exp = 2 ** 3
print("2 ** 3 =", result_exp)

# Square root
result_sqrt = math.sqrt(16)
print("sqrt(16) =", result_sqrt)

# Absolute value
result_abs = abs(-7)
print("abs(-7) =", result_abs)

5 + 3 = 8
10 - 4 = 6
7 * 6 = 42
8 / 2 = 4.0
2 ** 3 = 8
sqrt(16) = 4.0
abs(-7) = 7

In [15]:
# This a simple arithmetic expression to multiply then add integers
SimpleArith = (3*4)+5
print("(3*4)+5 =", SimpleArith)

(3*4)+5 = 17

In [18]:
# his will convert 200 minutes to hours by diving by 60
Thousand_minutes_to_hours = 200 / 60
print ("200 minutes are", Thousand_minutes_to_hours , "hours")

200 minutes are 3.3333333333333335 hours

## Edison Alarc√≥n Suesca
Author